.BannerImage{
    height:350px;
    background-size:cover;
    background-color:blue;
    background-image:url('../../Assets/Books_Banner_1.jpg');
    background-position:center center;
    text-align:center;
    object-fit:contain;
    border-bottom:3px solid #e63946;
}